[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.1"
jieba = "*"
djangorestframework = "*"
pygments = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"

[requires]
python_version = "3.7"
